.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(1fr, 1fr));
  height: 100vh;
}

.grid-item {
  background-color: black;
}

.grid-item.red {
  background-color: red;
}
